body {
    padding: 0;
    margin: 0;
}
.grid-container {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);
    background:black;
}


.head {
    border: 1px solid black;
    grid-row: 1 / 3;
    grid-column: 1 / 7;
    background-color:wheat;
    
}

.main {
    grid-row: 3 / 7;
    grid-column: 4 / 6;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color:wheat;
}

.left {
    border: 1px solid black;
    grid-row: 3 / 9;
    grid-column: 1 / 4;
    background-color:wheat;
}

.bottom {
    border: 1px solid black;
    grid-row: 7 / 9;
    grid-column: 4 / 6;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:wheat;
}

.right {
    border: 1px solid black;
    grid-row: 1 / 9;
    grid-column: 6 / 9;
    background-color:wheat;
}

table, th, tr, td {
    border: 1px solid red;
    background: yellow;
    background-color:black;
    color:white;
}